/* styles.css */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f0e5;
    color: #102c57;
}

header, footer {
    background-color: #102c57;
    color: #f8f0e5;
    text-align: center;
    padding: 1em;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    color: #102c57;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 12px 24px;
    background-color: #102c57;
    color: #f8f0e5;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dac0a3;
}

p {
    text-align: center;
}

a {
    color: #102c57;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
